In [2]:
import pandas as pd
dados = pd.read_csv('./census.csv')

In [3]:
dados.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
dados['workclass'].str.lower()

0                state-gov
1         self-emp-not-inc
2                  private
3                  private
4                  private
               ...
32556              private
32557              private
32558              private
32559              private
32560         self-emp-inc
Name: workclass, Length: 32561, dtype: object

In [5]:
dados.columns.str.lower().str.replace(' ', '_')

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
dados['income'] = dados['income'].str.strip()
print(dados['income'])

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: income, Length: 32561, dtype: object

In [7]:
dados['Contém A'] = dados['workclass'].str.contains('A', case=False)
print(dados['Contém A'])

0         True
1        False
2         True
3         True
4         True
         ...
32556     True
32557     True
32558     True
32559     True
32560    False
Name: Contém A, Length: 32561, dtype: bool

In [8]:
dados['workclass'] = dados['workclass'].str.replace('?', 'NA')
print(dados['workclass'])

0                State-gov
1         Self-emp-not-inc
2                  Private
3                  Private
4                  Private
               ...
32556              Private
32557              Private
32558              Private
32559              Private
32560         Self-emp-inc
Name: workclass, Length: 32561, dtype: object