In [19]:
import pandas as pd
import numpy as np
data = pd.read_csv('./census.csv')

In [20]:
data.iloc[0:3,0:3]

   age          workclass  final-weight
0   39          State-gov         77516
1   50   Self-emp-not-inc         83311
2   38            Private        215646

In [21]:
data.iloc[0:3,0:3].values

array([[39, ' State-gov', 77516],
       [50, ' Self-emp-not-inc', 83311],
       [38, ' Private', 215646]], dtype=object)

In [22]:
data.iloc[1:3]

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [23]:
data.iloc[:, 1:3]

               workclass  final-weight
0              State-gov         77516
1       Self-emp-not-inc         83311
2                Private        215646
3                Private        234721
4                Private        338409
...                  ...           ...
32556            Private        257302
32557            Private        154374
32558            Private        151910
32559            Private        201490
32560       Self-emp-inc        287927

[32561 rows x 2 columns]

In [25]:
data.iloc[1:3].to_csv('subcensus.csv', index=False)