In [77]:
import numpy as np

In [78]:
# https://faker.readthedocs.io/en/master/
!pip install faker

Requirement already satisfied: faker in c:\programdata\anaconda3\lib\site-packages (16.6.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\programdata\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [79]:
from faker import Faker
import pandas as pd

In [80]:
fake = Faker()

In [81]:
fake.name()

'Ashley Perez'

In [82]:
fake.address()

'Unit 4939 Box 1640\nDPO AE 44955'

In [83]:
fake.date_between(start_date="-30y", end_date="today")

datetime.date(2021, 9, 27)

In [84]:
indices_data = []
for i in range(32561):
    indices_data.append(fake.date_between(start_date="-30y", end_date="today"))
    
type(indices_data), len(indices_data)

(list, 32561)

In [85]:
indices = pd.Series(indices_data)
type(indices), len(indices)

(pandas.core.series.Series, 32561)

In [86]:
indices_nomes = []
for i in range(32561):
    indices_nomes.append(fake.name())
    
type(indices_nomes), len(indices_nomes)

(list, 32561)

In [87]:
indices_nomes = pd.Series(indices_nomes)
type(indices_nomes), len(indices_nomes)

(pandas.core.series.Series, 32561)

In [88]:
indices_paises = []
for i in range(32561):
    indices_paises.append(fake.country())
    
type(indices_paises), len(indices_paises)

(list, 32561)

In [89]:
indices_paises = pd.Series(indices_paises)
type(indices_paises), len(indices_paises)

(pandas.core.series.Series, 32561)

In [90]:
indices_idades = []
for i in range(32561):
    indices_idades.append(fake.random_int(min=0, max=100))

type(indices_idades), len(indices_idades)

(list, 32561)

In [91]:
indices_idades = pd.Series(indices_idades)
type(indices_idades), len(indices_idades)

(pandas.core.series.Series, 32561)

In [92]:
indices_renda_anual = []
for i in range(32561):
    indices_renda_anual.append(fake.pyfloat(left_digits=2, right_digits=6, positive=True))

type(indices_renda_anual), len(indices_renda_anual)

(list, 32561)

In [93]:
indices_renda_anual = pd.Series(indices_renda_anual)
type(indices_renda_anual), len(indices_renda_anual)

(pandas.core.series.Series, 32561)

In [100]:
df = pd.DataFrame({"indices": indices, "nomes": indices_nomes, "paises": indices_paises, "idades": indices_idades, "renda_anual": indices_renda_anual})
df

          indices            nomes            paises  idades  renda_anual
0      2021-10-24     Anna Jackson           Bahrain      33    70.276431
1      1994-05-23     Timothy Rios      Sierra Leone       3    25.647907
2      2006-07-09   Zachary Murray             China      33    69.847341
3      2019-09-06    Kevin Lindsey            Latvia      30    96.737137
4      2006-05-23   Shannon Walker           Vanuatu      75    86.750821
...           ...              ...               ...     ...          ...
32556  2022-06-25   Valerie Powell          Suriname      69    92.683048
32557  1998-02-02       Todd Mayer           Reunion      59    36.705431
32558  2022-06-28  Dennis Thompson       Isle of Man      42     8.967315
32559  1995-09-13      Paul Holden              Fiji      54    95.797769
32560  2011-07-19  William Johnson  Marshall Islands      20    72.436859

[32561 rows x 5 columns]

In [102]:
soma = df.renda_anual.sum()
print(f'Renda anual total: $ {soma}')

Renda anual total: $ 1627371.3090289999

In [103]:
sub = df.renda_anual.max() - df.renda_anual.min()
print(f'Renda anual max - min: $ {sub}')

Renda anual max - min: $ 99.896772

In [104]:
df.describe()

             idades   renda_anual
count  32561.000000  32561.000000
mean      50.124382     49.979156
std       29.073052     28.831750
min        0.000000      0.101235
25%       25.000000     24.751006
50%       50.000000     50.303834
75%       75.000000     74.747426
max      100.000000     99.998007

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Índices      32561 non-null  object
 1   Nomes        32561 non-null  object
 2   Países       32561 non-null  object
 3   Idades       32561 non-null  int64
 4   renda_anual  32561 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ MB

In [105]:
array = np.array(df)
type(array), array

(numpy.ndarray,
 array([[datetime.date(2021, 10, 24), 'Anna Jackson', 'Bahrain', 33,
         70.276431],
        [datetime.date(1994, 5, 23), 'Timothy Rios', 'Sierra Leone', 3,
         25.647907],
        [datetime.date(2006, 7, 9), 'Zachary Murray', 'China', 33,
         69.847341],
        ...,
        [datetime.date(2022, 6, 28), 'Dennis Thompson', 'Isle of Man', 42,
         8.967315],
        [datetime.date(1995, 9, 13), 'Paul Holden', 'Fiji', 54, 95.797769],
        [datetime.date(2011, 7, 19), 'William Johnson',
         'Marshall Islands', 20, 72.436859]], dtype=object))

In [106]:
negacao = df.renda_anual < 0
negacao

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: renda_anual, Length: 32561, dtype: bool

In [107]:
media = df.renda_anual.mean()
media

49.979156322870914