In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('./AirPassengers.csv')

In [22]:
df.sort_values(by='#Passengers', ascending=True, inplace=True)
print(df)

       Month  #Passengers
10   1949-11          104
0    1949-01          112
22   1950-11          114
12   1950-01          115
1    1949-02          118
..       ...          ...
137  1960-06          535
126  1959-07          548
127  1959-08          559
139  1960-08          606
138  1960-07          622

[144 rows x 2 columns]

In [23]:
df.sort_values(by='#Passengers', ascending=False, inplace=True)
print(df)

       Month  #Passengers
138  1960-07          622
139  1960-08          606
127  1959-08          559
126  1959-07          548
137  1960-06          535
..       ...          ...
11   1949-12          118
12   1950-01          115
22   1950-11          114
0    1949-01          112
10   1949-11          104

[144 rows x 2 columns]

In [25]:
df.sort_index(ascending=True, inplace=True)
print(df)

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]